.reserve {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.613);
}

.roomContainer {
  height: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: #F6F4F2;
  color: black;
}

.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0.5rem;
}

.roomDetails{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bookBTN{
  display: flex;
  justify-content: center;
}

.rHeading{
  display: flex;
  justify-content: center;
}

.rItem {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: white;
}

.rItemInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex: 2;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 300;
}

.rMax {
  font-size: 1rem;
}

.rPrice {
  font-weight: 500;
}

.rSelectRooms{
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  font-size: 0.5rem;
  color: gray;
  flex: 1;
  justify-content: center;
}

.room{
  display: flex;
  flex-direction: column;
}

.resButton {
  border: none;
  width: 100%;
  padding: 1rem;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}
