@import "../../common/root.css";

.reserve {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  background-color: var(--background_shadow);
}

.roomContainer {
  height: 80%;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  background-color: var(--seconday_white);
  color: var(--primary_black);
}

.rClose {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  padding: 0.5rem;
}

.roomDetails{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bookBTN{
  display: flex;
  justify-content: center;
}

.rHeading{
  display: flex;
  justify-content: center;
  font-weight: 500;
  /* font-size: 1.2rem; */
}

.rItem {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: var(--primary_white);
}

.rItemInfo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  flex: 2;
}

.rTitle {
  font-weight: 500;
}

.rDesc {
  font-weight: 300;
}

.rMax {
  font-size: 1rem;
}

.rPrice {
  font-weight: 500;
}

.rSelectRooms{
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  font-size: 0.5rem;
  color: var(--primary_gray);
  flex: 1;
  justify-content: center;
}

.room{
  display: flex;
  flex-direction: column;
}

.resButton {
  border: none;
  width: 100%;
  padding: 1rem;
  background-color: var(--secondary_blue);
  color: var(--primary_white);
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-size: 1rem;
}

.editDates{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.3rem;
  cursor: pointer;
}

.editDates>span{
  padding: 0.5rem;
  background-color: var(--primary_white);
  cursor: pointer;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--secondary_blue);
}

.reserveDates{
  position: absolute;
  top: 4rem;
  left: 5rem;
  border: 0.1rem solid var(--secondary_blue);
  border-radius: 0.3rem;
}