.register {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #003580;
    width: fit-content;
    padding: 2rem;
    border-radius: 0.5rem;
    align-items: center;
    color: white;
  }

  .registerItem{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .registerItem>span{
    padding: 1rem;
  }
  
  .loginLink{
    margin-bottom: 1rem;
  }

  .loginLink>span:hover{
    text-decoration: underline;
    cursor: pointer;
  }


  .registerPage{
    color: white;
    margin-bottom: 3rem;
  }

  .rInput{
    height: 1rem;
    width: 16rem;
    padding: 1rem;
    border-radius: 0.3rem;
  }
  
  .rButton {
    width: 25rem;
    border: none;
    padding: 1rem 2rem;
    background-color: #0071c2;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
  }
  
  .rButton:disabled{
    background-color: #0071c28c;
    cursor: not-allowed;
  }

  .errorBlock{
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
  }