@import "../../common/root.css";

.login {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--seconday_white);
  }
  
  .lContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--primary_blue);
    width: fit-content;
    padding: 2rem;
    border-radius: 0.5rem;
    align-items: center;
    color: var(--primary_white);
  }
  
  .loginPage{
    color: var(--primary_white);
    margin-bottom: 3rem;
  }

  .registerLink{
    margin-bottom: 1rem;
  }

  .registerLink>span:hover{
    text-decoration: underline;
    cursor: pointer;
  }

  .lInput{
    height: 1.5rem;
    width: 16rem;
    padding: 1rem;
    border-radius: 0.3rem;
  }
  
  .lButton {
    width: 18rem;
    border: none;
    padding: 1rem 2rem;
    background-color: var(--secondary_blue);
    color: var(--primary_white);
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .lButton:disabled{
    background-color: var(--disabled_color);
    cursor: not-allowed;
  }

  .errorBlock{
    font-size: 0.8rem;
    display: flex;
    gap: 0.5rem;
  }