@import "../../common/root.css";

.header {
    background-color: var(--primary_blue);
    color: var(--primary_white);
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    border-bottom: 0.2rem solid var(--primary_yellow);
  }
  
  .headerContainer {
    width: 100%;
    max-width: 64rem;
    margin: 1rem 1rem 8rem 1rem;
  }
  
  .headerContainer.listMode{
    margin: 1rem 1rem 1rem 1rem;
  }

  .headerSearchParent{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .headerList{
    display: flex;
    gap: 2rem;
    margin-bottom: 3rem;
    height: 3rem;
  }

  .headerListItem{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    padding: 0.8rem;
    border: 0.1rem solid var(--primary_blue);
  }

  .headerListItem.active{
    border: 0.1rem solid var(--primary_white);
    border-radius: 1rem;
  }

  .headerListItem:hover{
    border: 0.1rem solid var(--primary_white);
    border-radius: 1rem;
  }

  .headerDesc{
    margin: 1.5rem 0rem;
  }

  .headerBtn{
    background-color: var(--secondary_blue);
    color: var(--primary_white);
    font-weight: 500;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
  }

  .headerSearch{
    height: 2rem;
    background-color: var(--primary_yellow);
    border: 0.2rem solid var(--primary_yellow);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0rem;
    border-radius: 0.5rem;
    position: absolute;
    bottom: -2.5rem;
    width: 100%;
    max-width: 64rem;
    margin-left: 0.5rem;
  }
  
  .headerIcon{
    color: var(--secondary_gray);
  }
  
  .headerSearchItem{
    display: flex;
    /* align-items: center; */
    gap: 0.1rem;
    background-color: var(--primary_white);
    padding: 1.3rem 2.7rem;
    font-size: 1rem;
  }
  
  .headerSearchBtn{
    width: 9rem;
    padding: 1.3rem;
    font-weight: 500;
    border-radius:  0rem 0.5rem 0.5rem 0rem;
    color: var(--primary_white);
    background-color: var(--secondary_blue);
    border: none;
    cursor: pointer;
  }

  .headerSearchInput{
    border: none;
    outline: none;
  }
  
  .headerSearchText{
    color: var(--secondary_gray);
    cursor: pointer;
  }

  .date{
    position: absolute;
    top: 5.2rem;
    left: 28rem;
    z-index: 2;
  }
  
  .options{
    z-index: 2;
    position: absolute;
    top: 5.2rem;
    background-color: var(--primary_white);
    color: var(--primary_gray);
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 1rem -0.5rem var(--background_shadow);
  }

  .optionItem{
    width: 20rem;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
  }

  .optionCounter{
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.2rem;
    color: var(--primary_black);
  }

  .optionCounterButton{
    width: 3rem;
    height: 3rem;
    border: 0.1rem solid var(--secondary_blue);
    color: var(--secondary_blue);
    cursor: pointer;
    background-color: var(--primary_white);
  }

  .optionCounterButton:disabled{
    cursor: not-allowed;
  }

  .html{
    font-size: 62.5%;
  }