.navbar{
    height: 5rem;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 64rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.logo{
    font-weight: 500;
}

.navButton{
    margin-left: 2rem;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #003580;
}

.html{
    font-size: 62.5%;
}