.navbar{
    height: 5rem;
    background-color: #003580;
    display: flex;
    justify-content: center;
}

.navContainer{
    width: 100%;
    max-width: 64rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 1rem 0rem 1rem;
}

.navItems{
    display: flex;
    gap: 1rem;
}

.navItems>span{
    padding-top: 0.5rem;
}

.navItems .faIcon{
    font-size: 1.3rem;
    padding-top: 0.5rem;
}

.verifiedOptions{
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: #F6F4F2;
    z-index: 5;
    width: 9rem;
    margin-top: 2.5rem;
    margin-right: 1rem;
    border-radius: 0.3rem;
    gap: 0.5rem;
}

.optionButton{
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: white;
    background-color: #0071c2;
    border-radius: 0.3rem;
}

.logo{
    font-weight: 500;
}

.navButton{
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    color: #003580;
}

.html{
    font-size: 62.5%;
}