@import "../../common/root.css";

.hotelCard{
  background-color: var(--seconday_white);
  width: 90%;
  min-height: fit-content;
  height: 16rem;
  max-height: 50%;
  border-radius: 0.5rem;
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
  
  .priceDiv{
    display: flex;
    gap: 1rem;
  }
  
  .priceDiv>span{
    font-size: 0.9rem;
    font-weight: 300;
  }
  
  .priceDiv>h1{
    font-size: 2rem;
  }
  
  .imgFeatures{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 10rem;
  }
  
  .bookCancelPolicy{
    top: 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  
  .bookCancelOp{
    font-size: 1rem;
    color: var(--primary_green);
    font-weight: bold;
  }
  
  .bookCancelOpSubtitle{
    font-size: 0.8rem;
    color: var(--primary_green);
  }
  
  .bookImg{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 0.5rem;
  }
  
  .bookDesc{
    display: flex;
    flex-direction: column;
    flex: 2;
    justify-content: space-between;
  }
  
  .hotelPerks{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }
  
  .bookTitle{
    font-size: 1.4rem;
    color: var(--secondary_blue);
  }
  
  .bookDistance{
    font-size: 1rem;
  }
  
  .costCard{
    display: flex;
    justify-content: right;
  }
  
  .costCard>p{
    font-size: 0.8rem;
    margin-top: 0.75rem;
  }
  
  .bookTaxiOp{
    font-size: 0.9rem;
    background-color: var(--primary_green);
    color: var(--primary_white);
    width: max-content;
    padding: 0.3rem;
    border-radius: 0.2rem;
  }
  
  .bookSubtitle{
    font-size: 1rem;
    font-weight: bold;
  }
  
  .bookFeatures{
    font-size: 1rem;
  }
  
  .bookDetails{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .bookRating{
    display: flex;
    justify-content: right;
    gap: 0.6rem;  
  }
  
  .ratingReviews{
    display: flex;
    flex-direction: column;
  }
  
  .ratingReviews>span{
    font-weight: 500;
    font-size: 0.9rem;
    text-align: right;
  }
  
  .ratingReviews>p{
    font-weight: 300;
    font-size: 0.75rem;
    text-align: right;
  }
  
  .bookRating>button{
    background-color: var(--primary_blue);
    border-radius: 0.5rem 0.5rem 0.5rem 0rem;
    color: white;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
  }
  
  .bookDetailTexts{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
  
  .bookPrice{
    font-size: 1.5rem;
  }
  
  .bookTaxOp{
    font-size: 0.8rem;
    color: var(--primary_gray);
  }
  
  .bookCheckButton{
    background-color: var(--secondary_blue);
    color: var(--primary_white);
    font-weight: bold;
    padding: 0.8rem 1rem;
    border: none;
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 0.3rem;
    width: 8rem;
  }

  
  .optionsWhite{
    gap: 0.5rem;
    display: flex;
    padding: 0.5rem;
    background-color: var(--primary_white);
    border-radius: 0.5rem;
  }
  
  .bookIcon{
    padding: 0.2rem;
  }
  
  .bookDate{
    position:absolute;
    left:28rem;
    top: 30rem;
  }

  .selOptions{
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    position: relative;
  }

  .selOptions>span{
    padding: 0.5rem;
  }

  .roomsTooltip{
  cursor: pointer;
  }

  .roomPopUp{
    position: absolute;
  }

  .bookedRoomDetails{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: var(--secondary_blue);
    color: var(--primary_white);

    position: relative;
    top: 3rem;
    left: 16rem;

    width: fit-content;
    border-radius: 0.3rem;
    padding: 0.5rem;
    z-index: 5;
  }

  .AllBookingsRoomTypes{
    top: -3rem;
    left: 24rem;
  }

  .html{
    font-size: 62.5%;
  }