.pList{
    width: 100%;
    max-width: 64rem;
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
}

.pListItem{
    flex: 1;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    overflow: hidden;
    cursor: pointer;
}

.pListImg{
    width: 13rem;
    height: 9rem;
    object-fit: cover;
}

.pListTitles>h1{
    font-size: 1.2rem;
    text-transform: capitalize;
}

.pListTitles>h2{
    font-size: 1rem;
    font-weight: 300;
}

.html{
    font-size: 62.5%;
  }